body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('./img/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #312f31;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

h1,h2 {
    text-align: center;
}

#app-name {
    color: #3498db; /* Change the color to your preference */
    text-decoration: none;
}

#app-name:hover {
    color: #2980b9; /* Change the hover color to your preference */
}

.app-description {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}


.input-container {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background-color: #444;
    color: #fff;
}
#img1{
    width: 50px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #fc9535;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #f54222;
}

.lists-container {
    display: flex;
    flex-direction: column;
}

.list {
    margin-top: 20px;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.list:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #444;
    background-color: #333;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}

li:hover {
    transform: scale(1.02);
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-button {
    background-color: #e74c3c;
}

.delete-button:hover {
    background-color: #c0392b;
}

.credit {
    margin-top: 20px;
    text-align: center;
    color: #888;
}

.credit a {
   /* Change the color to your preference */
    color: #f0a330;
    text-decoration: underline;
}

.credit a:hover {
    color: #e652b4;  /* Change the hover color to your preference */
}

